*.obj
*.exe
*.pdb
*.idb
*.aps
*.ncb
*.suo
*.user
*.sdf
*.opensdf
*.VC.db
*.log
*.tlog
*.ipch
*.cache
*.ilk
*.o
*.tmp
*.vs/
Debug/
Release/
x64/
StartLabDataNormalizer.cmd
trash/
examples/
Experiment_Cleaned.csv
Experiment_Cleaned_Visualised.xls
Experiment_Raw_Visualised.xls
debugLog.txt